body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 72.5rem;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	font-size: 21px;
	font-weight: 700;
	background-color: aquamarine;
	border: 2px solid royalblue;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 64px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: auto;
	width: 100%;
}


.menu-container {
	margin: 60px 0;
	display: flex;
	font-weight: 700;

	.menu-left {
		flex: 1;
	}

	.menu-right {
		ul {
			list-style: none;
			display: flex;
			margin: 0;
			padding: 0;

			li {
				margin: 0 24px;
				flex: 1;
			}
		}
	}
}

.homepage-articles-container {
	display: flex;
	flex-direction: column;
	margin: 60px 0;

	.homepage-article {
		.article-link {
			display: flex;
			margin: 0;
			padding: 36px 0;

			img {
				width: 250px;
				height: 250px;
			}

			.article-info {
				margin-left: 64px;
				flex: 1;
			}

			h3 {
				font-size: 21px;
				font-weight: 400;
				line-height: 21px;
				margin: 10px 0;
				text-align: right;
			}

			border-bottom: 2px solid black;
		}
	}
}

.category-articles-container {
	display: flex;
	flex-direction: column;
	margin: 60px 0;

	.category-article {
		&-link {
			display: flex;
			margin: 0;
			padding: 36px 0;

			img {
				width: 250px;
				height: 250px;
			}

			.category-article-info {
				margin-left: 64px;
				flex: 1;
			}

			h3 {
				font-size: 21px;
				font-weight: 400;
				line-height: 21px;
				margin: 10px 0;
				text-align: right;
			}
			border-bottom: 2px solid black;
		}
	}
}

.current-page {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
}

.article-container {

	&__title {
		font-size: 52px;
		text-align: center;
		line-height: 52px;
		font-weight: 700;
		margin: 0 0 60px 0;
	}

	&__author {
		font-size: 18px;
		text-align: center;
		line-height: 21px;
		font-weight: 600;
		margin: -45px 0 60px 0;
	}

	&__excerpt {
		font-size: 21px;
		text-align: center;
		line-height: 21px;
		font-weight: 500;
		margin: 0 0 60px 0;
	}

	&__image {
		margin: 0 auto 120px;
		width: 70%;
		img {
			width: 750px;
			height: 400px;
		}
	}

	&__content {
		font-size: 18px;
		line-height: 18px;
		font-weight: normal;
		margin: 0 0 60px 0;
	}
}

.pagination-buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.pagination-container {
	.pagination-list {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;

		li {

			margin: 0 6px;
			color: black;

			&.disabled {
				pointer-events: none;
			}

			&.active {
				pointer-events: none;
				button {
					color: red;
				}
			}

			button {
				background-color: transparent;
				border: none;
				border-radius: 0px;
				padding: 2px;
			}
		}
	}
}